@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');
 body {
     background-color: #F1E5AC;
}

h1 {
   font-size: 80px;
   text-align: center;
   text-shadow: 0 0 5px #f2ebc7, 0 0 10px #f2ebc7, 0 0 15px #bfb78c, 0 0 20px #bfb78c, 0 0 25px #bfb78c, 0 0 30px #bfb78c, 0 0 35px #bfb78c;
}
 .A {
     display:inline-block;
     color: rgb(38, 120, 34);
     font-family: 'Playfair Display', serif;
     font-size: 100px;
}
 .B {
     display:inline-block;
     color: rgb(105, 24, 4);
     font-family: 'Playfair Display', serif;
     font-size: 100px;
}
 .altitle {
     font-family: 'Playfair Display', serif;
     font-size: 50px;
}
 button {
     background-color: rgb(228,230,168);
     margin-left: 25px;
     border-color: black;
     border-radius: 0;
     font-size: 20px;
}
 button:hover {
     font-weight: bold;
}
 p {
     font-size: 20px;
     margin-left: 25%;
     margin-right: 25%;
}
 .divider {
     margin-bottom: 150px;
     margin-top: 150px;
     width: 750px;
     height: 50px;
}
 .holidayimg {
     width: 500px;
     height: 500px;
}
 @media (max-width:960px) {
     .divider {
         width: 350px;
         height: 25px;
         margin-bottom: 100px;
         margin-top: 100px;
    }
}
